.navBorder {
  background-color: #f8f9f9;
  width: 100%;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  /* border-bottom: 1px solid #92929e; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 200px !important;
  height: 100px !important;
}

.loginBtn {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #268dec;
  font-weight: 600;
  letter-spacing: 0.015em;
}
