.footerBorder {
  border-top: 1px solid lightgray;
  background-color: #F8F9F9;
  min-height: 125px !important;
}
.footerContainer {
  margin-top: 20px;
  /* margin-bottom: 50px; */
  /* height: 125px !important; */
  z-index: auto;
}
.footerLinks {
  margin-top: 5px;
  width: 15%;
}

.grayColor {
  color: #92929e;
  font-size: 14px;
  font-weight: 600;
}
.noStyle {
  text-decoration: none;
  color: #92929e;
  font-size: 14px;
  font-weight: 600;
}

.noStyle:hover {
  color: #268dec;
}
.footerLinks ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .footer-links {
    width: 40% !important;
  }
}
