.footerBorder {
  border-top: 1px solid lightgray;
  background-color: #f8f9f9;
  min-height: 100px !important;
}
.footerContainer {
  margin-top: 20px;
  /* margin-bottom: 50px; */
  /* height: 125px !important; */
  z-index: auto;
}
.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  margin-top: 5px;
}
.logo {
  cursor: pointer;
}
.grayColor {
  color: #92929e;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}
.socialIcon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.socialIcon:hover {
  /* opacity: 0.5; */
  color: #268dec;
}
.discord:hover {
  color: #7289da;
}
.facebook:hover {
  color: #3b5998;
}
.linkedin:hover {
  color: #0077b5;
}
.icons {
  display: flex;
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.noStyle {
  text-decoration: none;
  color: #92929e;
  font-size: 16px;
  font-weight: 600;
}

.noStyle:hover {
  color: #268dec;
}
.footerLinks ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
/* new classes start */

.navigation-mail {
  cursor: pointer;
}
/* new classes end */
@media screen and (max-width: 768px) {
  .footer-links {
    width: 40% !important;
  }
}
