.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.heading {
  font-size: 28px;
  margin-top: 50px;
}
.textGreen {
  color: #34a853;
}
.importantPart {
  /* make this text important */
  font-weight: 700;
  font-size: xx-large;
}
.loginBtn {
  display: flex;
  align-items: center;
}
.searchBox {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.searchFields {
  display: flex;
  flex-direction: row;
  height: 80px;
}
.quickLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
}
.quickLinks > span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.quickLinks > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 30px;
}
.quickLinks > div > a {
  margin-left: 30px;
}
.searchContainer {
  margin-left: 30px;
}
.searchIcon {
  position: relative;
  float: right;
  /* width: 75px; */
  height: 75px;
  top: -40%;
  left: -15px;
}
.iconSize {
  font-size: 20px !important;
  color: gray;
}
.radioHead {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.radioBtn {
  display: flex;
  justify-content: flex-start;
}
.appear {
  animation: pulse 0.2s ease-in;
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* radio-button */

.radioButton {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #92929e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Hide the browser's default radio button */
.radioButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioButton:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioButton input:checked ~ .checkmark {
  background-color: #268dec;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioButton:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioButton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioButton .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* The .select style is applied to the react select dropdown package, so I had to use the !Important for applying custom css styles */
.select {
  width: 380px !important;
  height: 41px !important;
  font-size: 1rem !important;
  margin: 0 auto !important;
  margin-left: 30px !important;
  border-radius: 5px !important;
}
.selectRed {
  border: 1px solid red;
}
.inputDate {
  height: 38px;
  width: 380px !important;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  border: 1px solid #c4c4c4;
}

.inputDate:focus {
  outline: none;
  border: 2px solid #268dec;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px !important;
  margin-right: 30px;
}

.text {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .inputDate {
    width: 180px !important;
  }
  .select {
    width: 180px !important;
  }
}
@media screen and (max-width: 768px) {
  .searchFields {
    display: flex;
  }
  .mobileResponsive {
    margin: 0px auto;
  }
  .searchContainer {
    margin-left: 0px;
  }
  .searchIcon {
    left: -10px;
  }
  .mobile {
    margin-top: 50px;
  }
  .dateResponsive {
    display: flex;
    margin: 0px auto;
  }
  .dateMargin {
    margin-right: 40px;
  }

  .inputDate {
    width: 205px !important;
  }

  .select {
    width: 205px !important;
  }
}

.select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.systemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.systemParent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.system {
  padding: 10px 20px;
  background-color: #268dec;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.innerRightContainer {
  padding: 14px 18px;
}

.systemRight {
  text-align: left;
}

.boardText {
  color: #268dec;
  flex: 0.5;
  width: 100%;
  font-weight: 500;
  text-align: right;
  font-size: 14px;
}

.systems {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding: 2px 0px;
  flex-direction: column;
}

.years {
  height: 24px;
  flex: 0.1;
  display: flex;
  width: 100%;
}

.cardsSubject {
  padding: 0px 8px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.systemsYear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardsDate {
  font-size: 14px;
  color: #92929e;
  margin-top: 5px;
}

.cardsMain {
  padding: 6px 10px;
}

.newCardsDate {
  font-size: 14px;
  font-weight: 600;
  color: #92929e;
  padding: 0px 4px;
}

.newCardsSubject {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.newSubject {
  font-size: 14px;
  font-weight: 600;
  color: #92929e;
}

.newDates {
  display: flex;
  align-items: center;
}

.dash {
  font-size: 14px;
  font-weight: 600;
  color: #92929e;
}

.newInnerRightContent {
  width: 240px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
}

.newSystemText {
  display: flex;
  justify-content: space-between;
  color: #34a853;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 4px;
  align-items: center;
  background-color: #F8F9F9;
  padding: 6px 10px;
  border-radius: 8px 8px 0px 0px;
}
