/* // .modalContent {
//   border-radius: 4px;
//   position: relative;
//   width: 500px;
//   max-width: 90%;
//   background: #fff;
//   padding: 1em 2em;
// } */

.close {
  margin-bottom: 20px;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.numbers {
  font-weight: 600;
  font-size: 14px;
  color: #92929e;
}
.questionDetail {
  font-size: 14px;
  font-weight: 400;
  color: #92929e;
}

.first {
  font-size: 14px;
  font-weight: 600;
  color: #268dec;
}

.second {
  font-size: 14px;
  font-weight: 600;
  color: #34a853;
}

.third {
  font-size: 14px;
  font-weight: 500;
  color: #10101e;
}

.cancelIcon {
  margin-top: -3px;
}
