* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.content-width {
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-style {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.015em;
  color: #268dec;
  width: fit-content;
  height: 50px;
  padding: 20px 32px;
  background: #fff;
  border: 2px solid #268dec;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #268dec;
  font-weight: 600;
  letter-spacing: 0.015em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-img {
  display: inline;
}
.header-img768 {
  display: none;
}

img {
  margin-right: 10px;
}

a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.login-btn {
  display: flex;
  align-items: center;
}

.dashboard-btns {
  display: flex;
  align-items: center;
}

.dashboard-menu {
  display: flex;
  align-items: center;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.heading {
  font-size: 36px;
  margin-top: 50px;
}

.text-green {
  color: #34a853;
}

.search-fields {
  display: flex;
  flex-direction: row;
  height: 80px;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}
.search-container {
  margin: 0 auto;
  margin-right: 30px;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  border-radius: 5px;
}

input#search-bar:hover {
  border: 1px solid #268dec;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -40%;
}

.footer-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text {
  margin-top: 10px;
}

.nav-border {
  width: 100%;
  border-bottom: 1px solid #92929e;
}

.footer-border {
  border-top: 1px solid #92929e;
}

.icon-size {
  font-size: 20px !important;
  color: gray;
}

/* radio-button */

.radio-button {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #92929e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-btn {
  display: flex;
  justify-content: flex-start;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
  background-color: #268dec;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}

.input-date {
  border: 1px solid #c4c4c4;
  height: 45px;
  width: 360px !important;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 190px;
}

@media screen and (max-width: 500px) {
  .input-date {
    width: 180px !important;
  }
}

@media screen and (max-width: 768px) {
  .search-fields {
    display: flex;
  }

  .footer-links {
    width: 40% !important;
  }

  .search-container {
    margin-right: 0px;
  }
  .date-responsive {
    display: flex;
    margin: 0px auto;
  }
  .mobile {
    margin-top: 50px;
  }
  .mobile-responsive {
    margin: 0px auto;
  }
  input#search-bar {
    width: 85%;
    display: flex;
    flex-basis: 50%;
  }
  .search-icon {
    left: -10px;
  }
  .input-date {
    width: 205px !important;
  }
  .date-margin {
    margin-right: 40px;
  }
}

/* Cards */

.grid-logoss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
}

.main-box {
  margin: 0 auto;
}

.grid-logos__itemm {
  flex-basis: 25%;
  display: flex;
  height: 50px;
  border: 1px solid red;
}

.footer-links {
  margin-top: 5px;
  width: 20%;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.no-style {
  text-decoration: none;
  color: #92929e;
  font-size: 14px;
  font-weight: 600;
}

.no-style:hover {
  color: #268dec;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 30px;
}