.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  max-width: 700px;
  width: 90%;
  margin: 10% auto;
  padding: 20px 20px;
  border-radius: 5px;
  background: #fff;
}
.closeHeader {
  display: flex;
  justify-content: flex-end;
}
.image {
  width: 100%;
  /* position: unset !important; */
}
.image > div {
  position: unset !important;
}
.imageSize {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.buttonHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.buttonBack {
  display: flex;
  color: #92929e;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 10px;
}

.backFooter {
  margin-right: 10px;
}

.nextFooter {
  margin-left: 10px;
}
