.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  max-width: 700px;
  width: 90%;
  margin: 10% auto;
  padding: 20px 20px;
  border-radius: 5px;
  background: #fff;
}
.closeHeader {
  display: flex;
  justify-content: flex-end;
}
.container {
  width: 100%;
  /* max-height: 650px; */
  height: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-end !important; */
  /* border: 1px solid black; */
  /* position: relative; */
  /* display: flex;
  align-content: center; */
}
.imageContainer {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
}
.image {
  width: 100%;
  /* max-height: 30rem; */
  height: auto;
  overflow: hidden;
  /* display: flex; */
  /* flex: 1; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: unset !important; */
}
/* .image > div {
  position: unset !important;
} */
.imageSize {
  object-fit: contain;
  /* width: auto !important; */
  /* height:  !important; */
  position: relative !important;
  /* height: unset !important; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  max-height: 430px;
}
.buttonHead {
  max-height: 20px;
}

.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.buttonBack {
  display: flex;
  color: #92929e;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 10px;
  margin: auto 10px;
}

.backFooter {
  margin-right: 10px;
}

.nextFooter {
  margin-left: 10px;
}
